.body {
    background-image: url("../images/background.png");
    margin: 10px auto;
    background-size: 200px;
    background-position: center;
    resize: both;
    overflow: auto;
    max-width: 700px;
    padding: 5px;
    text-align: center;
    color: darkslategray;
}

.body__title {

    font-size: 22px;
    font-style: normal;
}