.body {
    background-image: url("../images/background2.jpg");
    margin: 10px auto;
    background-size: cover;
    background-position: center;
    resize: both;
    overflow: auto;
    max-width: 700px;
    padding: 20px;
    text-align: center;
    color: aliceblue;
}

.body__title {

    font-size: 22px;
    font-style: normal;
}